/* Menu je uvezen iz vanjske css skripte koja se zove cssvbar.css*/

body {
    margin: 0;
    background-color:lightsteelblue;
}



footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }

.linkovi h4{
    float: left;
}

#link {
    display: inline-block;
    margin: 0 12%;
    text-decoration: none;
    color: #333;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;

 }

  