/* Menu je uvezen iz vanjske css skripte koja se zove cssvbar.css*/

body {
    margin: 0;
    background-color:lightsteelblue;
}
h1 {
    margin-top: 10px;
    margin-bottom: 10%;
    padding-top: 20px ;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1, h2 {
    text-align: center;
}
h3 {
    margin:auto;
}
table {
    width: 80%;
    background-color: white;
    margin-bottom: 5%;
    margin-left: 10%;
}
th {
    font-size:30px;
}
td {
    text-align: center;
    height: 30px;
}
table, tr, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 5px;
}

.clanak1 {
    margin: auto;
    width: 80%;
    background-color: coral;
}
img {
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 10%;
}
iframe {
    margin-bottom: 20%;
    margin-left: 18%;
}
.lista {
    margin-left: 5%
}
p {
    text-align: center;
}

.clanak2 {
    margin: auto;
    width: 80%;
    background-color: rgb(241, 140, 24);
}
.navi {
    color:white;
    display: block;
    padding: 10px;
    font-size:20px;
    text-decoration:none;
    
}
.kontent {
   
    list-style-type: disc;
}



































footer {
    padding: 20px;
    text-align: center;
    background: rgb(73, 73, 73);
    margin-top: 20px;
  }

.linkovi h4{
    float: left;
}

#link {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color:rgb(209, 209, 209);
    display: inline-block;
    margin: 0 12%;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;

 }

