/* Menu je uvezen iz vanjske css skripte koja se zove cssvbar.css*/

body {
    margin: 0;
    background-color:lightsteelblue;
}

.responsive {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 80%;
  background-size: contain;
}

.galerija {
  display: inline-table;
    border: 1px solid #ccc;
    width: 20%;
  }
  
  .galerija:hover {
    border: 1px solid #777;
  }
  
  .galerija video {
    margin: 20px;
    width: 500px;
    height: 300px;
  }
  .galerija img {
    margin: 20px;
    width: 500px;
    height: 300px;
  }
  
  .opis {
    padding: 10px;
    text-align: center;
  }
  
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  

footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }

.linkovi h4{
    float: left;
}

#link {
    display: inline-block;
    margin: 0 12%;
    text-decoration: none;
    color: #333;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;

 }