/* Menu je uvezen iz vanjske css skripte koja se zove cssvbar.css*/

body {
    margin: 0;
    background-color:lightsteelblue;
    
}

.galerija {
  border: 1px solid #ccc;
}

.galerija:hover {
  border: 1px solid #777;
}

.galerija video {
  width: 100%;
  height: auto;
}
.galerija img {
  width: 100%;
  height: auto;
  
}

.opis {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
  
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}



footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

.linkovi h4{
  float: left;
}

#link {
  display: inline-block;
  margin: 0 12%;
  text-decoration: none;
  color: #333;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;

}