body {
    margin: 0;
    background-color: black;
}
.glavniDiv {
    margin: 15%; 
}

h1 { 
    font-family: 'Courier New', Courier, monospace;
    font-size: 4em;
    color: white;
    text-align: center;
}
h2 {
    margin-top: 10%;
    font-family: "Inconsolata", sans-serif;
    font-size: 2em;
    text-align: center;
}

/* Menu je uvezen iz vanjske css skripte koja se zove cssvbar.css*/
#navbar  li a:hover:not(.active) {
    background-color:grey;
  }

  