* {
  box-sizing: border-box;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  #navbar  li {
    float: left;
  }
  #navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  #navbar  li a:hover:not(.active) {
    background-color:grey;
  }
  .active {
    background-color: purple;
  }
  @media screen and (max-width: 600px) {
    body {
      margin: 0;
  }
   
    #navbar  li{
      float: none;
    }
    #navbar  li a:hover:not(.active) {
        background-color:inherit;
      }
  }
  
  .homeImg {
      margin: 0;
      padding: 0;
      width: 16px;
      height: 16px;
  }

  footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }

  footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }

  .linkovi h4{
    float: left;
}

  #link {
    display: inline-block;
    margin: 0 12%;
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;

 }

