/* Menu je uvezen iz vanjske css skripte koja se zove cssvbar.css*/
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color:lightsteelblue;
}



#biografija {
    background-color: rgb(166, 240, 166);
    margin: auto;
    margin-top: 5%;
    max-width: 50%;
    padding: 5px 15px 5px 15px;
    border: 1px solid green;
}
.naslov {
    text-align: center;
}


.slikabio {
    min-width: 205px;
    padding: 5px;
 }
 #s1 {
     max-width: 30%;
 }
 #p1 {
     margin-left: 5%;
     max-width: 60%;
 }

#s1, #p1 {
    display: inline-block;
}



















#vjestine {
    background-color: rgb(157, 201, 157);
    margin: auto;
    margin-top: 5%;
    max-width: 50%;
    padding: 5px 15px 5px 15px;
    border: 1px solid green;
}
#vjestine h2 {
    margin:auto;
    overflow: auto;
    text-align: center;
}
#vjestine p {
    text-align: justify;
}

.kolone {
    float: left;
    width: 50%;
    
  }
  .redovi:after {
    content: "";
    display: table;
    clear: both;
    
  }


  .forma {
      margin-top: 20px;
      margin-bottom: 20px;
      height: 480px;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
  }

  #forma{
      background-color: rgb(96, 194, 96);
      width: 30%;
      margin: auto;
      margin-top: 20px;
      max-height: 450px;
      max-width: 350px;
      height: 430px;
  }

  #ime, #prezime, #mail, #poruka {
      margin: auto;
      margin: 10px;
  }

  #h3 {
      padding: 11px;
  }

  #forma label{
    padding-left: 15px;
  }

  #dugme {
      float: right;
  }












  @media screen and (max-width: 600px) {
    .kolone {
      width: 100%;
    }
  }
#biografija img {
    width: 30%;
    height: auto;
    

  }


footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }

.linkovi h4{
    float: left;
}

#link {
    display: inline-block;
    margin: 0 12%;
    text-decoration: none;
    color: #333;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;

 }

