/* Menu je uvezen iz vanjske css skripte koja se zove cssvbar.css*/

body {
    margin: 0;
    background-color:lightsteelblue;
}


/*prvi div- Moja biografia*/
#biografija {
    background-color: rgb(166, 240, 166);
    margin: auto;
    margin-top: 5%;
    max-width: 60%;
    border: 1px solid green;
}
.naslov {
    text-align: center;
}
.top {
    margin-left: 5%;
    max-width: 20%;
    min-width: 180px;
    margin-bottom: 5%;
}
.tekst {
    margin-left:3%;
    max-width: 60%;
    display: inline-block ;
    vertical-align: top;
    text-align: center;
    padding: 0;
}
/*---------------------------------------------------------------------------------------*/


/*Moje vjestine div */
.vjestine {
    background-color: rgb(166, 240, 166);
    margin: auto;
    margin-top: 4%;
    max-width: 60%;
    padding: 10px 15px 10px 15px;
    border: 1px solid green;
}
.vjestine h2 {
    margin:auto;
    text-align: center;
}
.vjestine p {
    text-align: justify;
}

/*-----------------------------------------------------------------------------------------*/
/*projekti*/
.redovi {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 18%;
    max-width: 60%;

}
.kolone {
    display: inline-block;
    border: 1px solid black;
    background-color: rgb(233, 224, 224);
    width: 40%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 3%;
    vertical-align: top;
    padding: 30px;   
  }
  .kolone p {
    overflow: hidden; /*Da tekst ne bi izlazio iz svog diva*/
  }
 

  /*----------------------------------------------------------------------------------------*/

/* forma */
    #forma {
      border: 1px solid black;
      max-width: 35%;
      background-color: lightgrey;
      margin: auto;
      margin-bottom: 10%;
      padding: 20px;
      border-radius: 5px;
  }

  .inp {
      margin-left: 20%;
      max-width: 100%;
  }
  
  #forma h3 {
      text-align: center;
  }
  .tekstarea {
      margin:vauto;
      padding: 10px;
      display: inline-block;
      vertical-align: top;
      max-width: 100%;
  }
  label {
      display: inline-block;
      width: 80px;
  }

  label, input {
      margin: 10px;
  }
  input {
      display: inline-block;
  }
  #dugme {
      margin-left: 45%;
      padding: 5px 10px 5px 10px;
  }











  @media screen and (max-width: 600px) {
    .kolone {
      width: 100%;
    }

    .top {
        margin-left: 20%;
    }
    .tekst {
        margin-left: 15%;
        text-align: justify;

    }




  }



  footer {
    padding: 20px;
    text-align: center;
    background: rgb(73, 73, 73);
    margin-top: 20px;
  }
.linkovi h4{
    float: left;
}

#link {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color:rgb(209, 209, 209);
    display: inline-block;
    margin: 0 12%;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;

 }

